@import "fonts/zrnicregular";

@import "variables";
@import "bootstrap";
@import "font-awesome";

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.btn-success, .btn-success:hover {
    border-bottom: 2px solid darken($btn-success-bg, 20%);
}

.btn-danger, .btn-danger:hover {
    border-bottom: 2px solid darken($btn-danger-bg, 20%);
}

.navbar-brand {
    font-family: 'zrnicregular';
    font-size: 24pt;
}

.navbar-form input {
    background-color: lighten($navbar-default-bg, 10%);
    color: $text-color;
}

.rule-row {
    padding-top: $padding-large-vertical;
    padding-bottom: $padding-large-vertical;

    ul {
       list-style: none;
       margin-left: 0;
       padding-left: 1em;
       text-indent: -0.75em;

       li:before {
           content: "» ";
       }
    }
}

.rule-row:nth-child(2n) {
    background-color: darken($body-bg, 2%);
}

.rule-row:last-of-type {
    border-bottom: none;
}
